<% action_url =  cat.persisted? ? cat_url(cat) : cats_url%>
<% form_method = cat.persisted? ? "PATCH" : "POST"%>
<% submit_text = cat.persisted? ? "Update Cat!" : "Create Cat!"%>

<% if !cat.errors.full_messages.empty? %>
	<ul>
		<% cat.errors.full_messages.each do |error_msg| %>
			<li><%= error_msg %></li>
		<% end %>
	</ul>
<% end %>

<form action= "<%= action_url %>" method="POST">
	<input type="hidden" name="_method" value="<%= form_method%>">

	<label for="cat_name">Name</label><br>
	<input type="text"
				 name="cat[name]"
				 id="cat_name"
				 value= "<%=cat.name%>">
	<br>
	<label for="cat_skill">Skill</label><br>
	<input type="skill"
				 name="cat[skill]"
				 id="cat_skill"
				 value= "<%=cat.skill%>">
	<br>

	<% Cat::COAT_COLORS.each do |coat_color| %>
		<label>
			<input
				type="radio"
				name="cat[coat_color]"
				value= "<%= coat_color %>"
				<%= "checked" if cat.coat_color == coat_color %>>
			<%= coat_color.titleize %>
		</label>
	<% end %>
	<br>

	<label for="cat_description">Description</label><br>
		<textarea name="cat[description]" id="cat_description"><%=cat.description%></textarea>
	<br>

	<b>Tags</b>
	<br>
	<input type="hidden" name="cat[tag_ids][]" value="">
 	<% Tag.all.each do |tag| %>
		<label>
			<input type="checkbox"
			name="cat[tag_ids][]"
			value= "<%= tag.id %>"
			<%= "checked" if cat.tag_ids.include?(tag.id) %>>
			<%= tag.name.titleize%>
		</label>
	<br>
	<% end %>
	<input type="submit", value="<%= submit_text %>">
</form>
